

.global-nav{
  width:100%;
  height: auto;
}

/*
Add MQ for .navbar-toggle and .global-nav .urls
*/
.global-nav .navbar-toggle{
  position: absolute;
  right:10px;
  top:10px;
}


.global-nav .urls{
  display:flex;
  flex-direction: column;
  width:100%;
  padding-block:64px 32px;
  padding-inline:72px 0;
  background-color:#0f0e0e;
}
.urls a{
  text-decoration: none;
  font-weight: 600;
  padding-block: 0.24em;
  color:#fff;
}

